.home-products {
    .nav-pills {
        .nav-link {
            color: #202020;
            padding: 0.3rem 0.8rem;
            &.active {
                color: white;
            }
        }
    }

    .card {
        z-index: 9;
        a {
            z-index: 8;
        }
        
        .image {
            height: 257.84px;
            // width: 270px;
            img {
                max-height: 100%;
                // width: auto;
            }
        }

        .btn-cart {
            z-index: 10;
        }
    }
}