.slogan {
    .row{
        .title {
            font-size: 3.125rem;
        }
    }
}

@include media-breakpoint-down (sm) {
    .slogan {
        .row{
            .title {
                font-size: 1.1875rem;
            }
        }
    }
}