.succeed {
    background-color: #58C6D5;

    .block-blue {
        position: relative;
        padding: 2rem;
        height: 108%;
        top: -4%;
    }
}

@include media-breakpoint-down (md) {
    .succeed {
        h1 {
            font-size: 1.875rem;
        }

        h2 {
            font-size: 1.25rem;
        }

        .block-blue {
            padding: 2rem 2rem 0 2rem;
            .row {
                .col-lg-3:last-child {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}