.overview {
    .row {
        position: relative;
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@include media-breakpoint-up (xl) {
    .overview {
        .row {
            .video {
                position: absolute;
                top: -10rem;
                left: 50%;
                transform: translate(-50%, 0%);
            }

            .summary {
                padding-top: 11rem;
            }
        }
    }
}