.footer {
    a {
        color: white;
        &:hover {
            color: #b8b8b8;
        }
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    hr {
        background-color: #F5F5F5;
        margin: 0;
    }
}
