.card-product {
    .image {
        height: 10rem;
        width: 10rem;

        .card-img-top {
            max-height: 100%;
            max-width: 100%;
            width: unset;
        }
    }
}

// Home News Card
.home-news {
    .card {
        &:hover {
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
        }

        .time {
            font-size: 0.9375rem;
        }
    }
}

//Product page card
.product {
    .card-product {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }

    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Product Categories page card
.product-categories {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Category (news) card
.news {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}

// Content card
.content {
    .card {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
}


