

.carousel {
    .card:hover {
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }

    .flickity-button {
        background: #D1D1D1;
        color: #424242;
    }

    // .flickity-slider {
    //     display: flex;
    //     align-items: center;
    // }
    
    .flickity-prev-next-button {
        top: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translateY(-50%);

        .flickity-button-icon {
            position: absolute;
            left: 30%;
            top: 20%;
            width: 40%;
            height: 60%;
        }

        &.previous {
            left: -45px;
        }

        &.next {
            right: -45px;
        }
    }
}

.flickity-resize .carousel-cell {
    display: flex;
    min-height: 100%;
}

@include media-breakpoint-down (sm) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    min-height: 250px;
                }

                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .carousel {
        .flickity-prev-next-button {
            &.previous {
                left: 10px;
            }

            &.next {
                right: 10px;
            }
        }
    }
}

@include media-breakpoint-up (lg) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    max-height: 500px;
                }

                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

@include media-breakpoint-only (md) {
    .section-slide {
        .carousel-inner {
            height: 100%;
            width: 100%;
            .carousel-item {
                text-align: center;
                .parent {
                    max-height: 350px;
                }

                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}